<h2>List of targets</h2>

<div class="rowlist_page">

  <%= form_tag targets_path do  -%>
    <%=  text_field_tag 'target_name', @target_name, :size => 20, :id=> "target_name" %>
  <% end -%>

  <p />

  <div id="record_list">
    <%= render :partial=>"list" %>
  </div>
  
  <p />

  <%= link_to 'New Target', new_target_path %>

</div>