<p>
  <input id="script_person_notification_email_address" maxlength="200" name="script_person_notification[email_address]" size="35" type="text" value="" />
  <input name="commit" type="submit" value="Save"   id="script_person_notification_submit"/>
  <input name="cancel" type="submit" value="Cancel" id="script_person_notification_cancel"/>
</p>
