<ul class="rowlist_ul">
  <% @script.script_targets.each do | script_target | %>
    <li>
      <%= script_target.target.name %>
      <%=  link_to "Remove", script_target_path(@script,script_target), method: :delete, :remote=>true %>
    </li>
  <% end %>
</ul>

<div id="script_target_new">
  <%=  link_to "New", new_script_target_path(@script), :remote=>true %>
</div>