<h3>Additional hostnames </h3>

<div class="rowlist_page">

  <div id="record_list">

    <table class="rowlist_table">
      <tr>
        <th>Hostname</th>
        <th>Functions</th>
      </tr>

      <% @target_hostnames.each_with_index do |target_hostname,index| %>
        <tr class="<%= index.modulo(2) == 0 ? "even" : "odd" %>">
          <td><%= target_hostname.hostname %></td>
          <td>
            [
            <%= link_to 'Delete', target_hostname_path(@target,target_hostname), method: :delete, data: { confirm: 'Are you sure?' } %>
            ]
          </td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'Add additional hostname', new_target_hostname_path %>

  </div>

</div>